.login-heading {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

.login-heading h2 {
    font-size: 28px;
    color: #8B7969;
    font-weight: bold;
    letter-spacing: 1px;
}

body {
    background-color: #f1e7dd;
}

.login {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin: 20px;
}

.form-group label {
    display: block;
    color: #5e4436;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.login__button {
    display: block;
    width: 20%;
    padding: 10px;
    margin: 70px auto;
    background-color: #5e4436;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.error {
    color: #ff0000;
    height: 20px;
    text-align: left;
}